@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Sohne-Halbfett';
  src: url('./assets/fonts/Sohne-Font-Family/Söhne-Font-Family-Collection/Test Söhne/TestSöhne-Halbfett.otf') format('opentype');
}

@font-face {
  font-family: 'Sohne-Buch';
  src: url('./assets/fonts/Sohne-Font-Family/Söhne-Font-Family-Collection/Test Söhne/TestSöhne-Buch.otf') format('opentype');
}

@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    @apply m-0 font-light text-[11px] leading-[1.4] font-['Sohne-Buch'] text-[#444] bg-[#215254] overflow-hidden block antialiased;
  }
}

