@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Sohne-Halbfett";
  src: url("./assets/fonts/Sohne-Font-Family/Söhne-Font-Family-Collection/Test Söhne/TestSöhne-Halbfett.otf")
    format("opentype");
}

@font-face {
  font-family: "Sohne-Buch";
  src: url("./assets/fonts/Sohne-Font-Family/Söhne-Font-Family-Collection/Test Söhne/TestSöhne-Buch.otf")
    format("opentype");
}

@font-face {
  font-family: "Signifier-Light";
  src: url("./assets/fonts/Test Signifier/TestSignifier-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "SohneBreit-Kraftig";
  src: url("./assets/fonts/KlimTestFonts/Test desktop fonts (OTF)/Test Söhne Collection/Test Söhne Breit/TestSöhneBreit-Kräftig.otf")
    format("opentype");
}

@font-face {
  font-family: "SohneBreit-Buch";
  src: url("./assets/fonts/KlimTestFonts/Test desktop fonts (OTF)/Test Söhne Collection/Test Söhne Breit/TestSöhneBreit-Buch.otf")
    format("opentype");
}

@font-face {
  font-family: "SohneBreit-Buch";
  src: url("./assets/fonts/KlimTestFonts/Test desktop fonts (OTF)/Test Söhne Collection/Test Söhne Breit/TestSöhneBreit-Buch.otf")
    format("opentype");
}

@font-face {
  font-family: "MartinaPlantijn-Regular";
  src: url("./assets/fonts/KlimTestFonts/Test desktop fonts (OTF)/Test Martina Plantijn/TestMartinaPlantijn-Regular.otf")
    format("opentype");
}


@layer base {
  html {
    font-size: 62.5%;
  }

  body {
    @apply leading-snug font-['Sohne-Buch'] text-black bg-white overflow-auto antialiased;
  }
}




/*global*/
.title {
  @apply font-['Sohne-Halbfett'] text-[73px] leading-none;
}

.title-2 {
  @apply text-[48px] leading-none font-['Sohne-Halbfett'];
}

.title-3 {
  @apply mt-5 text-[28px] leading-none pb-8 font-['Sohne-Buch'];
}

.date {
  @apply mt-5 text-[24px] leading-none pb-8 font-['Sohne-Halbfett'];
}

.link {
  @apply font-['Sohne-Buch'] text-[18px] px-[12px] py-[8px] border w-fit;
}

/*sidebar*/

.sidebar {
  @apply flex justify-between items-center w-full h-auto fixed top-0 bg-white text-black;
}

.sidebar-logo {
  @apply block mx-auto w-40 h-12 my-2 text-black;
}

.sidebar-item {
  @apply ml-5 text-[18px] leading-[51px] hover:font-['Sohne-Halbfett'] flex items-center;
}

.dropdown-menu {
  @apply absolute top-full w-max;
}

.dropdown-item {
  @apply font-['Sohne-Buch'] block text-[18px] no-underline py-1 hover:font-['Sohne-Halbfett'];
}

.dropdown {
  @apply relative;
}

/*home*/

.home-content {
  @apply flex flex-col sm:flex-row min-h-screen overflow-auto items-center justify-center bg-white text-black;
}

.home-content-container {
  @apply flex flex-col sm:flex-row justify-between mx-[24px] my-28;
}

.home-content-text-area {
  @apply flex flex-col mb-8;
}

.home-content-image {
  @apply object-contain max-h-[40vh] w-1/2;
}

.home-button {
  @apply link border-black hover:bg-black hover:text-white;
}

/*about*/

.about-content {
  @apply flex flex-col min-h-screen overflow-auto;
}

.about-section {
  @apply flex flex-col min-h-fit sm:flex-row justify-between pt-[90px] bg-white;
}

.about-section-header {
  @apply flex flex-col min-h-fit sm:flex-row justify-between pt-[160px] bg-white text-black;
}

.about-section-container {
  @apply flex flex-col items-center mx-[24px];
}

.about-section-header-container {
  @apply flex flex-col items-center mx-[24px] pb-[90px];
}

.about-section-text-area {
  @apply flex flex-col sm:flex-row w-full justify-between items-start;
}

.about-section-image {
  @apply mt-[80px] h-auto mb-[40px];
}

/*blog landing*/
.blog-landing-content {
  @apply flex flex-col min-h-screen overflow-auto;
}

.blog-landing-header {
  @apply flex flex-col sm:flex-row pt-[160px] bg-white text-black;
}

.blog-landing-header-container {
  @apply flex flex-col sm:flex-row items-start mx-[24px] justify-between pb-[90px];
}

.blog-section {
  @apply flex flex-col min-h-fit sm:flex-row;
}

.blog-section-container {
  @apply flex flex-col sm:flex-row items-start mx-[24px] justify-between;
}

.blog-section-text-area {
  @apply flex flex-col justify-between items-start;
}

.blog-landing-image {
  @apply object-contain max-h-[40vh] w-1/2;
}

/*blog post*/

.blog-post-content {
  @apply flex flex-col;
}

.blog-post-header {
  @apply flex flex-col min-h-fit sm:flex-row bg-white text-black;
}

.blog-post-header-container {
  @apply flex flex-col sm:flex-row items-start mx-[24px] mt-[160px] mb-[90px] justify-between w-full;
}

.blog-post-header-text-area {
  @apply flex flex-col;
}

.blog-post-cover {
  @apply object-contain max-h-[40vh];
}

.blog-post-body {
  @apply flex justify-center;
}

.blog-post-body-container {
  @apply w-full mx-[24px] border-t border-black pt-8 my-[90px];
}

.blog-post-body-component-container {
  @apply flex flex-col sm:flex-row justify-between items-start;
}

.blog-post-body-component {
  @apply w-1/2;
}

.blog-post-body-sidenote {
  @apply w-2/5 text-[12px] leading-snug;
}





